.container {
  margin: 0 auto;
  width: 800px;
  padding: 60px 20px 20px 20px;
  border: 1px dotted black;
}

body {
  background: #2C3E50;
}

p {
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #34495E;
  color: white;
  z-index:  1;
}

nav ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

nav ul > li {
  display: inline;
  padding-left: 20px;
  line-height: 60px
}

span.tag {
  color: grey;
  font-style: italic;
  font-size: 12px;
  padding-left: 20px;
}

span.author {
  color: grey;
  font-style: bold;
  display: block;
}

.nav_link a {
  font-size: 20px;
  font-style: bold;
}

.nav_link a:hover {
  font-size: 20px;
  font-style: bold;
}

.edit_posts_btn {
  font-size: 10px;
}

textarea {
  width: 200px;
}

form {
    border: none;
    outline: none;
    text-decoration: none;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

input {
  resize: horizontal;
  width: 400px;
}

textarea {
  resize: horizontal;
  width: 750px;
  resize: vertical;
  height: 200px;
}

input.form_submit {
  display: inline;
  padding-left: 15px;
}

input.form_delete {
  display: inline;
  padding-left: 15px;
}

div.form_submit {
  display: inline;
  padding: 10px 0 15px;
}

h2.post_title {
  display: inline;
  padding-right: 10px;
}

form.delete {
  display:inline;
}


