<div class="container">

  <% if @post && @post.errors.any? %>
    <div class="errors">
      <% @post.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class='form'>
    <form action='/create' method='post'>
      <div class='form_title'>
        <label for='form[title]'>Post Title</label>
        <textarea name='form[title]' placeholder='title...' required=true></textarea>
      </div>
      <div class='form_author'>
        <label for='form[author]'>Post Author</label>
        <textarea name='form[author]' placeholder='author...'></textarea>
      </div>
      <div class='form_body'>
        <label for='form[body]'>Post Body</label>
        <textarea name='form[body]' placeholder='body...' spellcheck=true required=true></textarea>
      </div>
      <div class='tags'>
        <label for="tags">Post Tags</label>
        <input type='text' name="form[tags]" placeholder='tag1, tag2, etc...'>
      </div>
      <div class='form_submit'>
        <input type='submit'>
      </div>
    </form>
  </div>

</div>
