<div class="container">

  <% if @posts %>
    <% @posts.each do |post| %>
      <%= erb :_post_partial, :layout => false, :locals => {:post => post} %>
    <% end %>
  <% end %>

  <% unless @posts %>
    <div class="no-posts">
      <a href='/create'><button>Create Post</button></a>
    </div>
  <% end %>

</div>
